<h1>Seattle University Women's Rugby Football Club (2011-12 Season)</h1>
<p>
  Welcome to Seattle University Women's Rugby. We are a recreational club sport team at Seattle University. This is the roster for the 2011-12 academic season. Come play the best sport ever invented! Our coaching staff is made up of qualified ruggers who are dedicated to growing the game. The women you train with will become your family: rugby is not only a team sport, but also a social experience that focuses on community, leadership, and growth. If you are interested in joining our community, please reach out. Prior experience is not necessary!
</p>
<hr>
<h3>In Memoriam</h3>
<h2>Coach Shane Tangen (11/20/71 - 10/19/17)</h2>
<p>This app project was designed in October 2017, a few days after the author receievd news of Shane's death. Shane was the lead forward's coach whom I had the honor to learn as assistant forward's coach. He was dedicated to the game, which he played for nearly 3 decades, and coached innumerable young men and women in the joys of tackle and scrum. I will be forever grateful to have learned a little of the art of coaching under his influence. I will remember him everytime I find myself in a bar at 5 a.m., now with no one to text whenever there's an amazing/awful play on the pitch. RIP, Shane.</p>
